

.course-card {
    box-shadow: 0 4px 5px -2px #0003,0 7px 10px 1px #00000024,0 2px 16px 1px #0000001f;
    max-width: 300px;
    border-radius: 4px;
}

.card-image {
    max-width: 300px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-title {
    font-size: 20px;
    padding: 5px 10px;
}

.card-description {
    padding: 5px 10px;
    font-size: 14px;
}

.card-actions {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.card-actions button {
    margin-right: 5px;
}
